<%- include('includes/head.ejs') %>

<body>
    <main>
        <h2 style="color:#ff0000; font: inherit; font-size: 2rem; text-align: center">No Results Found!</h2>
        <form class="search-form" action="/results" method="GET">
            <div class="form-control">
                <label for="title" class="centered">
                    <div style="color:#00695c; font: inherit; font-size: 3rem;">CODER'S PLACE</div>
                </label>
                <input type="text" name="search" id="search">
            </div>
            <button class="btn" type="submit" style="font-size: 1.5rem;">SEARCH</button>
        </form>
    </main>
</body>

</html>